.sidebar {
  position: fixed;
  background-color: rgb(37, 37, 37);
  top: 0;
  bottom: 0;
  width: 26.1rem;
  border-right: 1px solid rgb(61, 61, 61);
}

.logo {
  color: white;
  height: 2.3rem;
  width: 8.3rem;
  margin-bottom: 2.9rem;
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 1.8rem 3.2rem 2rem 3rem;
}

.search-box {
  background-color: rgb(30, 30, 30);
  height: 3.2rem;
  border: 1px solid rgb(59, 59, 59);
  font-size: 1.2rem;

  color: rgb(91, 17, 17);
  border-radius: 3px;
}

.search-box::placeholder {
  color: gray;
  padding-left: 1rem;
}

.search-box::active {
  border: 1px solid #fa586a;
}

.list1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style-type: none;
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  padding: 0 0 2rem 0;
  font-weight: 500;
  width: 100%;
}

.list1 li {
  display: flex;
  padding: 0.5rem 0 0.6rem 0;
  cursor: pointer;
  align-items: center;
}

.list1 li:hover {
  background-color: rgb(62, 62, 62);

  border-radius: 5px;
}

.sidebar-sections {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 2rem;
}

.section-heading {
  font-size: 1rem;
  color: rgb(182, 182, 182);
}

.sidebar-icons {
  color: #fa586a;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0.7rem 0 0.1rem;
}
